/*



body {
    background-color: #FFFA93;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:visited {
    color: purple;
}

div {
    font-family: Courier, sans-serif;
    color: black;
    text-align: center;
    width:1000px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
}

.photos {
    height: 300px;
    width: 500px;
    padding: 20px;
    margin: center;
}

.Hardware {
    background-color: blue;
    color: red;
    border: 1px solid red;

}

.Flight {
    background-color: orange;
    color: green;
    border: 1px solid green;
}

#Intro {
    background-color: green;
    color: blue;
    border: 1px solid blue;
}

article {
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family:serif;
}

article p {
    font-style: italic;
}

footer {
    margin: right;
    text-align: right;
}
